/* Roboto Font */
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/* Variables */
:root{
    --clr-second: #565656;
    --clr-second-light: #dedede;
    --clr-second-light2: #cdcdcd;
    --clr-pral: #fcd34d;
    --white: #fff;
    --black: #000;
    --green-btn: #86efac;
    --red: #f00;

}




/* General styles */

*,
::before,
::after{
    margin: 0;padding: 0;box-sizing: border-box;
}
a {
    background-color: transparent;
    text-decoration: none;
}
  ul{
      list-style: none;
  }
button,
input,
optgroup,
select,
textarea {
    font-family: inherit; 
    font-size: 100%; 
    line-height: 1.15; 
}

/* My Watermark*/
.marca {
    color: var(--clr-second);
    border: 1px solid var(--clr-second);
    width: 110px;
    height: 30px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 20px;
    right: 20px;
    position: fixed;
}


body {
    height: 100vh;
    font-family: 'Roboto', sans-serif;
}

/* header */
.header {
    height: 15%;
    background-color: var(--clr-second);
    color: var(--white);
    display: flex;
    align-items: center;
    box-shadow: 0 3px 5px #aaa;
    padding: 30px;
}

.header-title {
    font-size: 30px;
    
}

/* Main */
.main {
    min-height: 85%;
    background-color: var(--clr-pral);
    display: grid;
    gap: 30px;
    padding: 20px;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    font-size: 20px;
}

/* Cards */
.card {
    height: 250px;
    background-color: var(--white);
    padding: 30px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    text-align: center;
    flex-wrap: nowrap;
}

/* buttons */
.read-btn,
.remove-btn{
    border: none;
    height: 50px;
    border-radius: 10px;
    background-color: var(--clr-second-light);
}

.read-btn:hover,
.remove-btn:hover {
    cursor: pointer;
    background-color: var(--clr-second-light2);
}

.read-btn:active,
.remove-btn:active {
    border: 2px solid var(--clr-second);
    background-color: transparent;
}

.add-btn {
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid var(--clr-second);

}
i {
    font-size: 40px;
    color: var(--clr-second);
}


/* Modal */
.modal-overlay {
    position: fixed;
    background-color: rgba(200, 200, 200, .7);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: -10;
    visibility: hidden;
}
.show{
    z-index: 10;
    visibility: visible;
}

form {
    background-color: var(--white);
    height: 400px;
    width: 400px;
    padding: 30px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
    position: relative;
}

.modal-title{
    font-size: 25px;
    font-weight: bold;
    margin: 10px 0;
}

form > input {
    width: 90%;
    height: 35px;
    border: 1px solid var(--black);
    border-radius: 5px;
    padding: 10px;
}

form > input:focus {
    border: 2px solid var(--black);
}


.read-input {
    display: flex;
    align-items: center;
    gap: 10px;
}
.read-check{
    height: 25px;
    width: 25px;
}
label {
    font-size: 18px;
}

.submit-btn {
    border: 2px solid transparent;
    border: none;
    padding: 10px 35px;
    border-radius: 10px;
    background-color: var(--green-btn);
    margin-top: 10px;
    outline: none;
}
.submit-btn:active {
    background-color: transparent;
    border: 2px solid var(--black);
}

.fa-xmark {
    position: absolute;
    top: 10px;
    right: 15px;
    height: 25px;
}

.fa-xmark:hover {
    cursor: pointer;
}

/* MEDIA QUERIES */
@media (max-width: 550px) {
  form {
    width: 350px;
  }
}
@media (max-width: 450px) {
  form {
    width: 300px;
  }
}

